{
  "extends": "airbnb",
  "rules": {
    "import/no-dynamic-require": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "prefer-destructuring": 0
  }
}
